<?xml version="1.0"?>
<launch>
  <arg name="image_rect"/>
  <arg name="camera_info"/>
  <arg name="tag_config"/>
  <arg name="tag_topic" default="/tag_detections"/>

  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node"
        name="apriltag_ros_continuous_node" clear_params="true" output="screen">
    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(arg tag_config)"/>
    <param name="tag_family" value="tagStandard41h12"/>
    <param name="transport_hint" value="compressed"/>
    <remap from="image_rect" to="$(arg image_rect)"/>
    <remap from="camera_info" to="$(arg camera_info)"/>
    <remap from="tag_detections" to="$(arg tag_topic)"/>
  </node>
</launch>
